<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="examples.android.puc"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/AppTheme" >
        
        <uses-library 
            android:required="true"
	    	android:name="com.google.android.maps" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationListActivity"
            android:label="@string/title_location_list" >
        </activity>
        <activity
            android:name=".EditLocationActivity"
            android:label="@string/title_edit"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <service 
            android:name=".AlertService"
            android:process=":the_process"
            android:exported="false">
        </service>
        <provider
            android:name=".LocationContentProvider"
            android:authorities="examples.android.puc" >
        </provider>
        <receiver android:name=".LocationReceiver">
        </receiver>
    </application>

</manifest>